$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;

table, mat-table{
    width: 100%;
    // box-shadow: none;
}
.mat-header-cell{
    background-color: #3f51b5;
    color: white;
}

.make{
    background-color: lightblue;
}

.marker{
    color: crimson;
    // font-weight: bold;
}
.make-gold .mat-cell {
    color: rgb(76, 68, 68);
}
td.mat-cell{
    border-right: rgba(0,0,0,.12) solid 1px;
    text-align: center;
}
th.mat-header-cell{
    text-align: center;
}

td.mat-cell:last-of-type , th.mat-header-cell:last-of-type{
    padding-right: 0px !important;
}

td.mat-cell:first-of-type, th.mat-header-cell:first-of-type{
    padding-left: 0px !important;
}

.example-container.mat-elevation-z8 {    
    overflow-x: auto;
  }
  .example-container .mat-table.mat-table {
    min-width: 450px;
  }

mat-grid-tile {
    background: lightblue;
}

 ::ng-deep.mat-form-field-disabled .mat-form-field-underline{
    // border-bottom: 1px dotted;
    
  } 
  .mat-accordion> .mat-expansion-panel-spacing:last-child, .mat-accordion > mat-expansion-panel{
    margin-bottom: 20px;
  }



  .hide {
    display: none !important;
  }


th.mat-header-cell{
  position: sticky;
  top: 0;
  z-index: 999;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.example-container {
  height: 70vh;
  width: auto;
  max-width: 100%;
  overflow: auto;
}

.message-block .error-message {
  // Hidden by default
  display: none;
}
.message-block .error-message:first-child {
  display: block;
}


// ::ng-deep.mat-form-field-disabled{
//   padding: 0 !important;
//   // position: inherit;
// }

// ::ng-deep.mat-form-field-disabled > .mat-form-field-wrapper{
//   // padding: 0 !important;
//   margin-bottom: -1.25em;
// }

::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
  background: white !important;
  /* background-color: rgba(0,0,0,.04); */
}


.header-flex{
  display: flex;
  width: 100%;
  margin: 0 0 20px 0;
  border-radius: 15px;
}
.header-flex > .content-header > h5:first-child{
  // color: #69f0ae
  color: black;
  font-weight: bold;
}

.header-flex > .content-header{
  flex: 1 1 auto;
  text-align: center;
  margin: 5px;  /* and that, will result in a 10px gap */
}


@media only screen and (max-width: $md) {
    mat-form-field {
        width: 100%;
    }
    .mat-expansion-panel-header{
      padding-left: 0;
    }
}


.mat-expansion-panel-header{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mat-elevation-z8 {
    box-shadow: none;
}

.shadow-container{
  border-radius: 20px;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
              0px 8px 10px 1px rgb(0 0 0 / 14%),
              0px 3px 14px 2px rgb(0 0 0 / 12%);
}


@media only screen and (max-width: $md) {
  .flex{
      flex-direction: column !important;
  }
  .item-one,.item-two{
      flex: 1;
      width: 100%;
  }
  .body-content{
      margin: 90px 20px 20px 20px !important;
  }
  .item-one{
    margin: 20px;
    display: flex;
    flex-direction: column-reverse;
  }
  .example-container {
    height: 60vh;
  }
  .header-flex{
    margin: 20px 0 0px 0;
  }
}

.flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.item-one{
  flex: 0;
  margin: 0px 20px 20px 20px;
  border-radius: 15px;
  box-sizing: border-box;

}   

mat-form-field {
  padding: 0px 20px 0px 20px;
  width: 100%;
}

.item-one > form > mat-form-field:first-child{
    padding-top: 20px !important;
}

.item-two{
  flex: 1;
}

.mat-toolbar{
  background-color: #69f0ae; 
  color: black;
  position: fixed;
  top: 0;
  z-index: 999999;
}

.body-content{
  margin: 90px 20px 20px 20px;
}

.header-flex >.content-header:first-child{
  padding-left: 5px;
}

.header-flex >.content-header:last-child{
  padding-right: 5px;
}
// .header-flex

// margin-right: 5px;
// margin-top: 8px;

